@use "base/variables";
@use "base/mixins";
.restaurantes{
    background-color: variables.$grisClaro;
    padding: 5rem;
    h2{
        text-align: center;
        color: variables.$secundario;
        font-weight: 900
    }
    &__restaurante{
        background-color: variables.$blanco;
        border-radius: 2rem;
        padding: 3rem;
        margin-bottom: 4rem;
    }
    &__imagen{
        width: 30%;
        margin: auto;
    }
    &__texto{
        padding: 2rem;
        text-align: center;
        img{
            margin: auto;
            width: 30%;
        }
        h3{
            color: variables.$primario;
            margin: 0;
            font-size: 3rem;
        }
    }
    @include mixins.tablet { 
        &__grid{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 4rem;
        }
        &__restaurante{
            margin: 0;
            display: flex;
        }
        &__imagen{
            width: auto;
        }
        &__texto{
            text-align: left;
            img{
                width: auto;
                margin: 0;
            }
        }
    }
}