@use 'base/variables';
@use 'base/mixins';

.navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%;
    text-align: center;
    &__link{
        font-weight: 900;
        width: 100%;
        &--registrar{
            @include mixins.boton(variables.$primario, variables.$blanco)
        
        }
    }
    @include mixins.tablet { 
        flex-direction: row;
        width: auto;
        gap: 0;
    }
}